---
import '../styles/global.css';
import Btn from '../components/Btn.astro';
import Tem from '../components/Tem.vue';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "blue";
---
<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{skillColor}}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: bold;
    }
  </style>
   <p>Here are a few facts about me:</p>
   <ul>
     <li>My name is {identity.firstName}.</li>
     <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
     {identity.hobbies.length >= 2 && 
       <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
     } 
   </ul>
   <p>My skills are:</p>
   <ul>
     {skills.map((skill) => <li class="skill">{skill}</li>)}
   </ul>
   <Tem client:idle />
   <Btn />
</BaseLayout>

<script is:inline>
  console.log('this is about page')
</script>